.table {
	margin-bottom: 20px;
    border-collapse: collapse;
}
th {
	font-weight: bold;
	padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
}
td {
	border: 1px solid black;
	padding: 5px;
    text-align: center;
    background-color: rgb(197, 194, 194);
    font-size: 20px;
}
.class1 {
    background-color: rgb(158, 32, 32);
    color: black;
    font-size: 25px;
}
